<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Countries</title>
    <meta name="viewport" content="width=device-width",initial-scale="1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<h2 align = "center">List of countries</h2>

<body>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${countries}" class="container my-4">
                    <p class = "my-5">
                        <a href="/new_countrie" class="btn btn-primary">Add Country</a>
                    </p>
                    <div class="col-md-10">
                        <h2 th:case="null">No country found!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Country Id</th>
                                        <th>Country Name</th>
                                        <th>Country Capital</th>
                                        <th>Country Population</th>
                                        <th>Country language Id</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="countrie : ${countries}">
                                        <td th:text="${countrie.id}"></td>
                                        <td th:text="${countrie.name}"></td>
                                        <td th:text="${countrie.capital}"></td>
                                        <td th:text="${countrie.population}"></td>
                                        <td th:text="${countrie.languageId}"></td>

                                        <td>
                                            <a class="btn btn-primary"> Edit</a>
                                        </td>

                                        <td>
                                            <a class="btn btn-danger"> Delete </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>